{% extends "matching/Page.html" %}
{% load otree i18n %}

{% block title %}
{% endblock %}

{% block content %}
    <h3>
    <br>
    {% blocktrans %}life{% endblocktrans %} {{ life }}: {% blocktrans %}Period{% endblocktrans %} {{ round_num_title }}/15 ({% blocktrans %}rest phase{% endblocktrans %})
    </h3>

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            <h6 class="alert-heading">{{ form.non_field_errors }}</h6>
        </div>
    {% endif %}

    <div id="show_p11">
    <p>{% blocktrans %}You finished your working phase.
        Your total Savings, bonus and accumulated interest are {{ balance25 }} points.{% endblocktrans %}</p>

    <p>{% blocktrans %}On each rest phase period, there will be an automatic <b>Withdrawn</b>, at equal amounts per period.
        <b>Withdraws</b> are taxed at 40% rate.{% endblocktrans %}</p>
    </div>

    <p>{% blocktrans %}In this period, {{ rest_reward_num }} points were withdrawn from your <b>Savings Balance</b>.{% endblocktrans %}</p>

    <table id="info_table" style="width: 92%">
        <colgroup>
           <col span="1" style="width: 1%;">
           <col span="1" style="width: 1%;">
           <col span="1" style="width: 10%;">
           <col span="1" style="width: 8%;">
           <col span="1" style="width: 10%;">
           <col span="1" style="width: 11%;">
           <col span="1" style="width: 16%;">
           <col span="1" style="width: 11%;">
           <col span="1" style="width: 12%;">
           <col span="1" style="width: 12%;">
        </colgroup>

    <!-- Put <thead>, <tbody>, and <tr>'s here! -->
        <tbody>
            <tr>
                <th></th>
                <th>{% blocktrans %}Period{% endblocktrans %}</th>
                <th>{% blocktrans %}Wage
                    (gross){% endblocktrans %} <a class="noclick" id="id_tooltip1" href="#" data-toggle="tooltip" data-placement="right"
                            title="
                            {% blocktrans %}Your wage in points{% endblocktrans %}">
                        ?
                    </a>
                </th>
                <th>{% blocktrans %}Tax{% endblocktrans %}
                    <a class="noclick" id="id_tooltip2" href="#" data-toggle="tooltip" data-placement="right"
                            title="
                            {% blocktrans %}40% wage tax (in points) charged{% endblocktrans %}">
                        ?
                    </a>
                </th>
                <th>{% blocktrans %}Net Wage{% endblocktrans %}
                    <a class="noclick" id="id_tooltip3" href="#" data-toggle="tooltip" data-placement="right"
                            title="
                            {% blocktrans %}Wage (gross) minus Tax{% endblocktrans %}">
                        ?
                    </a>
                </th>
                <th>{% blocktrans%}Savings Decision{% endblocktrans %}
                    <a class="noclick" id="id_tooltip4" href="#" data-toggle="tooltip" data-placement="right"
                            title="
                            {% blocktrans %}Your savings decision (in points){% endblocktrans %}">
                        ?
                    </a>
                </th>
                <th>{% blocktrans%}Bonus{% endblocktrans %}
                    <a class="noclick" id="id_tooltip5" href="#" data-toggle="tooltip" data-placement="right"
                            title="
                            {% blocktrans %}extra bonus (in points) added to your Savings Balance (66.67% of Savings){% endblocktrans %}">
                        ?
                    </a>
                </th>
                <th>{% blocktrans %}Payoff{% endblocktrans %}
                    <a class="noclick" id="id_tooltip6" href="#" data-toggle="tooltip" data-placement="right"
                            title="
                            {% blocktrans %}Reward (in points) in the period. It is equal to Net Wage – Savings{% endblocktrans %}">
                        ?
                    </a>
                </th>
                <th>{% blocktrans %}Savings Balance{% endblocktrans %}
                    <a class="noclick" id="id_tooltip7" href="#" data-toggle="tooltip" data-placement="right"
                            title="
                            {% blocktrans %}Points you own at the end of the period in your Savings account, plus bonus. This balance earns 5% interest at the end of each period (credited automatically).{% endblocktrans %}">
                        ?
                    </a>
                </th>
                <th>{% blocktrans %}Withdraw{% endblocktrans %}
                    <a class="noclick" id="id_tooltip8" href="#" data-toggle="tooltip" data-placement="right"
                            title="
                            {% blocktrans %}Points withdrawn from your Savings account during the rest phase.{% endblocktrans %}">
                        ?
                    </a>
                </th>
            </tr>
            <tr>
                <td><span id="arrow16"></span></td>
                <td>1</td><td>480</td><td>192</td><td>288</td>
                <td><span id="saving16"></span></td>
                <td><span id="match16"></span></td>
                <td><span id="reward16"></span></td>
                <td><span id="balance16"></span></td>
                <td></td>
            </tr>
            <tr>
                <td><span id="arrow17"></span></td>
                <td>2</td><td>480</td><td>192</td><td>288</td>
                <td><span id="saving17"></span></td>
                <td><span id="match17"></span></td>
                <td><span id="reward17"></span></td>
                <td><span id="balance17"></span></td>
                <td></td>
            </tr>
            <tr>
                <td><span id="arrow18"></span></td>
                <td>3</td><td>480</td><td>192</td><td>288</td>
                <td><span id="saving18"></span></td>
                <td><span id="match18"></span></td>
                <td><span id="reward18"></span></td>
                <td><span id="balance18"></span></td>
                <td></td>
            </tr>
            <tr>
                <td><span id="arrow19"></span></td>
                <td>4</td><td>480</td><td>192</td><td>288</td>
                <td><span id="saving19"></span></td>
                <td><span id="match19"></span></td>
                <td><span id="reward19"></span></td>
                <td><span id="balance19"></span></td>
                <td></td>
            </tr>
            <tr>
                <td><span id="arrow20"></span></td>
                <td>5</td><td>480</td><td>192</td><td>288</td>
                <td><span id="saving20"></span></td>
                <td><span id="match20"></span></td>
                <td><span id="reward20"></span></td>
                <td><span id="balance20"></span></td>
                <td></td>
            </tr>
            <tr>
                <td><span id="arrow21"></span></td>
                <td>6</td><td>480</td><td>192</td><td>288</td>
                <td><span id="saving21"></span></td>
                <td><span id="match21"></span></td>
                <td><span id="reward21"></span></td>
                <td><span id="balance21"></span></td>
                <td></td>
            </tr>
            <tr>
                <td><span id="arrow22"></span></td>
                <td>7</td><td>480</td><td>192</td><td>288</td>
                <td><span id="saving22"></span></td>
                <td><span id="match22"></span></td>
                <td><span id="reward22"></span></td>
                <td><span id="balance22"></span></td>
                <td></td>
            </tr>
            <tr>
                <td><span id="arrow23"></span></td>
                <td>8</td><td>480</td><td>192</td><td>288</td>
                <td><span id="saving23"></span></td>
                <td><span id="match23"></span></td>
                <td><span id="reward23"></span></td>
                <td><span id="balance23"></span></td>
                <td></td>
            </tr>
            <tr>
                <td><span id="arrow24"></span></td>
                <td>9</td><td>480</td><td>192</td><td>288</td>
                <td><span id="saving24"></span></td>
                <td><span id="match24"></span></td>
                <td><span id="reward24"></span></td>
                <td><span id="balance24"></span></td>
                <td></td>
            </tr>
            <tr>
                <td><span id="arrow25"></span></td>
                <td>10</td><td>480</td><td>192</td><td>288</td>
                <td><span id="saving25"></span></td>
                <td><span id="match25"></span></td>
                <td><span id="reward25"></span></td>
                <td><span id="balance25"></span></td>
                <td></td>
            </tr>
            <tr>
                <td><span id="arrow26"></span></td>
                <td>11</td><td>480</td><td>192</td><td>288</td>
                <td></td>
                <td></td>
                <td><span id="reward26"></span></td>
                <td><span id="balance26"></span></td>
                <td><span id="withdraw26"></span></td>
            </tr>
            <tr>
                <td><span id="arrow27"></span></td>
                <td>12</td><td>480</td><td>192</td><td>288</td>
                <td></td>
                <td></td>
                <td><span id="reward27"></span></td>
                <td><span id="balance27"></span></td>
                <td><span id="withdraw27"></span></td>
            </tr>
            <tr>
                <td><span id="arrow28"></span></td>
                <td>13</td><td>480</td><td>192</td><td>288</td>
                <td></td>
                <td></td>
                <td><span id="reward28"></span></td>
                <td><span id="balance28"></span></td>
                <td><span id="withdraw28"></span></td>
            </tr>
            <tr>
                <td><span id="arrow29"></span></td>
                <td>14</td><td>480</td><td>192</td><td>288</td>
                <td></td>
                <td></td>
                <td><span id="reward29"></span></td>
                <td><span id="balance29"></span></td>
                <td><span id="withdraw29"></span></td>
            </tr>
            <tr>
                <td><span id="arrow30"></span></td>
                <td>15</td><td>480</td><td>192</td><td>288</td>
                <td></td>
                <td></td>
                <td><span id="reward30"></span></td>
                <td><span id="balance30"></span></td>
                <td><span id="withdraw30"></span></td>
            </tr>
        </tbody>
    </table>

    <br>
    {% next_button %}

    {% include 'matching/includes/tabs.html' %}

    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="1"
            aria-valuemin="0" aria-valuemax="100" style="width:{{ round_num_bar }}%">
            <span class="sr-only">1% Complete</span>
        </div>
    </div>

    <script>
        // Show the forward information only for period 11.
        period = {{ round_num|json }};
        if (period > 26) {
            document.getElementById('show_p11').style.display = 'none';
        }
        // Show arrow for the current period
        document.getElementById('arrow{{ round_num|json }}').innerHTML = '&#10146;';

        $(document).ready(function () {
            /* Show the previous saving, reward, balance */
            for (let k = 16; k < 26; k++) {
                document.getElementById('saving'+k).innerHTML = {{ saving_list|safe }}[k-16];
                document.getElementById('match'+k).innerHTML = {{ match_list|safe }}[k-16];
            }
            for (let j = 16; j < {{ round_num|json }}+1; j++) {
                document.getElementById('reward'+j).innerHTML = {{ reward_list|safe }}[j-16];
                document.getElementById('balance'+j).innerHTML = {{ balance_list|safe }}[j-16];
            }
            for (let l = 26; l < {{ round_num|json }}+1; l++) {
                document.getElementById('withdraw'+l).innerHTML = {{ withdraw_list|safe }}[l-16];
            }
        });
    </script>

    <style>
        .otree-title{
            display: none;
        }
        .otree-form-errors {
            visibility: hidden;
            display: none;
        }

        #info_table {
          border-collapse: collapse;
        }

        #info_table th{
            border: 1px solid #ddd;
            border-left: none;
            border-right: none;
            padding: 6px;
            text-align: center;
        }

        #info_table td{
            border: 1px solid #ddd;
            border-left: none;
            border-right: none;
            {#padding: 8px;#}
            text-align: center;
            height: 14px;
        }

        #info_table tr:nth-child(even){background-color: #f2f2f2;}

        #info_table tr:hover {background-color: #ddd;}

        #id_tooltip1, #id_tooltip2, #id_tooltip3, #id_tooltip4, #id_tooltip5, #id_tooltip6, #id_tooltip7, #id_tooltip8 {
            border-style: solid;
            border-color: black;
            border-radius: 2px;
            padding: 1px;
            text-decoration: none;
            cursor: default;
        }

        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }
    </style>

{% endblock %}
