{% extends "instructions/Page.html" %}
{% load otree i18n %}

{% block title %}
{% endblock %}

{% block content %}
    <h3>
    <br>
    {% blocktrans %}Working task and wages (working phase){% endblocktrans %}
    </h3>

    <p>{% blocktrans %}At the beginning of each period of the <b>working phase</b>,
        you will work on a simple task.{% endblocktrans %}</p>

    <p>{% blocktrans %}For each submitted task you will receive a fixed <b>Wage</b> of 480 points.{% endblocktrans %}</p>

    {% next_button %}

    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="1"
            aria-valuemin="0" aria-valuemax="100" style="width:5%">
            <span class="sr-only">1% Complete</span>
        </div>
    </div>

    <style>
        .otree-title {
            display: none;
        }
    </style>

{% endblock %}


